p{display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
  padding-bottom: 20px;}

.content-container{
  border-width: 10px;
border-style: solid;
-webkit-border-image: -webkit-linear-gradient(top, #DB4437 0%,#F4B400 100%) 1;
-moz-border-image: -moz-linear-gradient(top, #DB4437 0%, #F4B400 100%) 1;
border-image: linear-gradient(to bottom, #DB4437 0%,#F4B400 100%) 1;
}

h1{
  font-size: 36px;
font-family: "ff-tisa-web-pro", Georgia, Times, "Times New Roman", serif;
font-weight: 500;
margin-bottom: 20px;
color: grey;
}
h2{
  font-size: 18px;
font-size: 1.8rem;
font-family: "ff-tisa-web-pro", Georgia, Times, "Times New Roman", serif;
font-weight: 500;
margin-bottom: 10px;
color: black;
}

h4{
  font-size: 14px;
text-transform: uppercase;
font-family: "Lato",sans-serif;
font-weight: 400;
margin-bottom: 10px;
color: #4d4d4d;
}

body{
  background-color: white!important;
}

.imginfo{
font-size: 12px;
text-transform: uppercase;
font-family: "Lato",sans-serif;
font-weight: 600;
margin-bottom: 10px;
color: #4d4d4d;
}

blockquote{
   border-left: 4px solid black;
    /* border-radius: 4px; */
    padding: 30px;
    font-size: 16px;
    /* font-style: italic; */
    color: grey;
    padding: 30px;
    font-size: 18px;
    font-style: normal;}
